
.App {
  text-align: center;
  background-color: #E9EBEE;
}

.title {
  font-size: 1.4em;
}

.commentCount {
  float: right;
  position: relative;
  right: 250px;
  top: 5px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-intro {
  font-size: large;
}

.comments {
  text-align: left;
  margin-left: auto !important;
  margin-right: auto !important;
}

.comment {
  margin-bottom: 20px !important;
}

.dropdown {
  width: 13% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  float: right;
  position: relative;
  right: 345px;
}

.segment {
  width: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.up {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
